@model IEnumerable<AIUB_Forum.Models.Database.AnswerComment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Location)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AnsCmntId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AnsCmntId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AnsCmntId })
        </td>
    </tr>
}

</table>
